
<h1 style="margin-top: 25px" class="title__productspage">Seb-Ar FUTSAL</h1>
<div class="form-group">
  <div id="messages"></div>
  <label style="margin-top: 50px" for="">Nombre</label>
  <input
    class="input border border-primary form-control"
    type="text"
    id="username"
    style="margin-top: 25px"
    placeholder="Name"
  />
  <label style="margin-top: 50px" for="">Escribe tu mensaje</label>
  <input
    class="input border border-primary form-control"
    type="text"
    id="message"
    style="margin-top: 25px"
    placeholder="Message"
  />
  <button id="send" class="button bg-info bg-gradient text-white" style="margin-top: 25px">
    ENVIAR
  </button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chatcontroller.js"></script>